/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilos Header*/
a{
    text-decoration: none;
    color:white;
}
header{
    border-style: groove;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 20px;
}
header > img{
    margin-left:100px;
}
nav a{
    font-weight: 200px;
    padding-right: 10px;
    color: #242E52;
}
.boton-uno{
    background: #F3603B;
    border:0;
    border-radius: 50px;
    color: white;
    width: 134px;
    height: 44px;
}
.icono-bars{
    display:none;
}
/*Contenedor Primer Banner*/
#contenedor-uno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:10px;
    
}
.banner-izquierda-uno {  
    position: relative;
    align-items: center;
    border-style: groove;
    width: 35vw;
    margin: 150px 0px 15px 100px; 
}
.titulo-uno{
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
    color: #232C50;
}
.parrafo-uno{
    margin-right: 140px;
    margin-top:15px;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
}
.boton-dos{
    background: #F3603B;
    border-radius: 50px;
    border:0;
    color: white;
    width: 134px;
    height: 44px;
    margin-top:20px;
}
.banner-derecha-uno{
    border-style: groove;
    margin: 50px 0px 0px 0px;
}
.banner-derecha-uno img {
    position: relative;
    width: 40vw;
    height: 45vh;
}

/*Contenedor Segundo Banner*/
.banner-izquierda-dos{
    position: relative;
    align-items: center;
    width: 35%;
    border-style: groove;
    margin: 150px 0px 15px 70px; 
}
.titulo-dos{
    font-weight: bold;
    font-size: 36px;
    line-height: 114.6%;
    color: #232851;
}
.parrafo-dos{
    margin-right: 150px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 151.1%;
    font-weight: 500;
}
.banner-derecha-dos{
    border-style: groove;
    height: 400px;
    width: 480px;
    margin: 65px 0px 0px 0px;
}
.contenedor-opciones{
    display: flex;
    margin-top: 10px;
}
.contenedor-parrafo{
    margin-left: 10px;
}
.titulo-opciones{
    margin: 0px;
    color: #323851;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.estilo-boton-opciones{
    background: #F3603B;
    border-radius: 30px; 
    width: 55px;
    height: 35px;
    color: white;
}
.parrafo-opciones{
    color: #B3B2B7;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

/*Testimonials*/
.titulo-testimonio{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
    border-style: groove;
    color: #242E53;
    font-weight: bold;
    font-size: 26px;
    margin-top: 70px;
}
.banner-testimonials{
    border-style: groove;
    height: 250px;
    width: 300px;
    margin: 65px 0px 0px 0px;
}
.banner-testimonials img{
    display: flex;
    align-items: center;
    margin-left: 110px;
}
.banner-testimonials h4{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    text-align:justify;
    color: #3F4868;
    font-weight: bold;
    font-size: 16.0714px;
    
}
.banner-testimonials p{
    display: flex;
    align-items: center;
    margin-left: 11px;
    margin-top: 20px;
    text-align:center;
    font-weight: 500;
    font-size: 14px;
    line-height: 156.6%;
    color: #B9B9C1;
    
}
.color-testimonios{
    background-color: #FAFAFA;
}
.boton-testimonios{
    align-items: center;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    border-style: groove;
    font-size: 26px;
    margin-top: 70px;
    
}
.boton-testimonios button{
    background: #F3603B;
    border:0;
    border-radius: 50px;
    width: 134px;
    height: 44px;
    color:white;
}

/*Information footer*/
.information-footer{
    display: flex;
    background: #F3613C;
    justify-content:space-around;
    margin-top: 100px;
    height: 200px;
    border-style: groove;
}
.information-footer h2{
    display: flex;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: start;
    width: 400px;
    align-items: center;
    border-style: groove;
}
.information-footer button{
    display: flex;
    background: #FFFFFF;
    border:0;
    border-radius: 50px;
    width: 140px;
    height: 44px;
    align-items: center;
    border-style: groove;
    margin-top:67px;
    color: tomato;
    text-align: center;
    padding: 20px 28px;
    
}


/*Footer*/
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:0;
    border-style: groove;
    background: #1E1E26;
}
.contenedor-logos-footer{
    margin-top: 45px;
}
.logos-footer{
    display: flex;
    justify-content: space-around;
    border-style: groove;
    color: white;
    align-items: center;
    margin-top: 30px;
}
.opciones-footer{
    display: flex;
    justify-content: space-between;
    border-style: groove;
    color: white;
    align-items: center;
}
.opciones-footer nav ul{
    font-weight: 200px;
    padding-right: 10px;
    color: #242E52;
    margin: 12px 0px;
    color:white
}
.input-text{
    border-radius: 20px;
    border: 1px solid #a1a1a1;
    height: 40px;
    width: 201px;
    margin-top: 40px;
}
.input-button{
    border-radius: 20px;
    height: 40px;
    border:0px;
    background-color: #F3603B;
    color: white;
    padding: 10px 20px;
}
.copy{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 12.5px;
    float: right;
    color: #8C8C94;
}

/*Mobile Responsive*/
@media screen and (max-width: 375px){
    #contenedor-uno{
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .icono-bars{
        display: block ;
    }
    nav a{
        display:none;
    }
    header > img{
        margin-left:10px;
    }
    .boton-uno{
        display:none;
    }
   

}
/*Desktop Responsive*/
@media screen and (min-width:1440px){
    
}


