/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}


/*Desktop Responsive (1440*1373) */
/*Style Header*/
a{
    text-decoration: none;
    color:white;
}
header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 20px;
}
header > img{
    margin-left:100px;
}
nav a{
    font-weight: 200px;
    padding-right: 10px;
    color: #242E52;
}

.boton-uno{
    background: #F3603B;
    border:0;
    border-radius: 50px;
    color: white;
    width: 134px;
    height: 44px;
}
.boton-uno:hover{
    background: #d88e7b;
}
.icono-bars{
    display:none;
}

/*First Banner*/
#contenedor-uno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:10px; 
}
.banner-izquierda-uno {  
    position: relative;
    align-items: center;
    width: 40%;
    padding: 150px 0px 15px 100px; 
    margin: 0;
}
.titulo-uno{
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 66px;
    color: #232C50;
}
.parrafo-uno{
    margin-right: 140px;
    margin-top:15px;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
}
.parrafo-uno::selection{
    color: grey;
}
.boton-dos{
    background: #F3603B;
    border-radius: 50px;
    border:0;
    color: white;
    width: 134px;
    height: 44px;
    margin-top:20px;
}
.boton-dos:hover{
    background: #d88e7b;
}
.banner-derecha-uno{
    padding: 50px 0px 0px 0px;
}
.banner-derecha-uno img {
    position: relative;
    width: 100%;
    height: 100%;
}

/*Second Banner*/
#contenedor-dos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:10px;
}
.banner-izquierda-dos{
    position: relative;
    align-items: center;
    width: 35%;
    padding: 150px 0px 15px 70px; 
}
.titulo-dos{
    font-weight: bold;
    font-size: 36px;
    line-height: 114.6%;
    color: #232851;
}
.parrafo-dos{
    margin-right: 150px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 151.1%;
    font-weight: 500;
}
.parrafo-dos::selection{
    color: grey;
}
.banner-derecha-dos{
    height: 100%;
    width: 35%;
    padding: 65px 0px 0px 0px;
}
.contenedor-opciones{
    display: flex;
    margin-top: 10px;
}
.contenedor-parrafo{
    margin-left: 10px;
}
.titulo-opciones{
    margin: 0px;
    color: #323851;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}
.estilo-boton-opciones{
    background: #F3603B;
    border:0;
    border-radius: 30px; 
    width: 55px;
    height: 35px;
    color: white;
}
.estilo-boton-opciones:hover{
    background: #d88e7b;
}
.parrafo-opciones{
    color: #B3B2B7;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

/*Testimonials*/
.titulo-testimonio{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #242E53;
    font-weight: bold;
    font-size: 26px;
    margin-top: 70px;
}
.banner-testimonials{
    height: 250px;
    width: 300px;
    margin: 65px 0px 0px 0px;
}
.banner-testimonials img{
    display: flex;
    align-items: center;
    margin-left: 110px;
}
.banner-testimonials h4{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    text-align:justify;
    color: #3F4868;
    font-weight: bold;
    font-size: 16.0714px;
}
.banner-testimonials p{
    display: flex;
    align-items: center;
    margin-left: 11px;
    margin-top: 20px;
    text-align:center;
    font-weight: 500;
    font-size: 14px;
    line-height: 156.6%;
    color: #B9B9C1;   
}
.color-testimonios{
    background-color: #FAFAFA;
}
.boton-testimonios{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 26px;
    padding-top: 70px; 
}

.boton-testimonios button{
    background: #F3603B;
    border:0;
    border-radius: 50px;
    width: 134px;
    height: 44px;
    color:white;
}

/*Information footer*/
.information-footer{
    display: flex;
    background: #F3613C;
    justify-content:space-around;
    margin-top: 100px;
    height: 200px;
}
.information-footer h2{
    display: flex;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: start;
    width: 30%;
    align-items: center;

}
.information-footer button{
    display: flex;
    background: #FFFFFF;
    border:0;
    border-radius: 50px;
    width: 140px;
    height: 44px;
    align-items: center;
    margin-top:67px;
    color: tomato;
    text-align: center;
    padding: 20px 28px;
}

/*Footer*/
footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:0;
    background: #1E1E26;
}
.prueba-logo-iconos{
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    color: white;

}
.contenedor-logos-footer{
    margin-top: 45px;
    color: white;
    height: 20px;
    width: 150px;
}
.logos-footer{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-top: 30px;
    width: 10%;
    height: 20px;
    width: 200px;
}
.prueba-opciones-footer{
    display: flex;
    color:white;
}
.opciones-footer{
    display: flex;
    margin-right: 200px;
    color: white;
    align-items: center;
}
.opciones-footer2{
    display: flex;
    color: white;
    align-items: center;
}
.opciones-footer nav ul{
    font-weight: 200px;
    padding-right: 10px;
    color: #242E52;
    margin: 12px 0px;
    color:white
}
.opciones-footer2 nav ul{
    font-weight: 200px;
    padding-right: 10px;
    color: #242E52;
    margin: 12px 0px;
    color:white
}
.input-text{
    border-radius: 20px;
    border: 1px solid #a1a1a1;
    height: 40px;
    width: 201px;
    margin-top: 40px;
}
.input-button{
    border-radius: 20px;
    height: 40px;
    border:0px;
    background-color: #F3603B;
    color: white;
    padding: 10px 20px;
}
.input-button:hover{
    background: #d88e7b;
}
.copy{
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 12.5px;
    float: right;
    color: #8C8C94;
}
.copy-2{
    display: none;
}

/*Mobile Responsive (375*687) */
@media screen and (max-width: 375px){
    body{
        background-image: url("../img/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-size: 110%,80%;
        background-position: top -80px right -90px,bottom 10px right -170px;
    }
    #contenedor-uno{
        flex-direction: column-reverse;
        max-width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
    #contenedor-dos{
        flex-direction: column;
        max-width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
    /*Header*/
    .icono-bars{
        display: block ;
    }
    nav a{
        display:none;
    }
    header > img{
        margin-left:10px;
    }
    .boton-uno{
        display:none;
    }
    .boton-uno:hover{
        background: #d88e7b;
    }
    /*First Banner*/
    .banner-derecha-uno{
        margin: 0px 0px 0px 6px;
        width: 90%;
        height: 30%;
        padding-top: 0;
    }
    .banner-derecha-uno img {
        position: relative;
        width: 350px;
        height: 300px;
    }
    .banner-izquierda-uno {  
        position: relative;
        align-items: center;
        width: 70%;
        margin: 0px 0px 15px 65px; 
        padding: 0;
    }
    .titulo-uno{
        display: flex;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #232C50;
        text-align: center;
    }
    .parrafo-uno{
        display: flex;
        text-align: center;
        margin-right: 10px;
        margin-top:15px;
        font-weight: 500;
        font-size: 16.5584px;
        line-height: 157.1%;
        color: #B3B2B7;;
    }
    .boton-dos{
        background: #F3603B;
        border-radius: 50px;
        border:0;
        color: white;
        width: 134px;
        height: 44px;
        margin-top:20px;
        margin-left: 63px;
    }
    .boton-dos:hover{
        background: #d88e7b;
    }
    /*Second Banner*/
    .banner-izquierda-dos{
        position: relative;
        align-items: center;
        width: 80%;
        margin: 30px 0px 15px 40px; 
        padding:0px;
        box-sizing: border-box;
    }
    .titulo-dos{
        display: flex;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 114.6%;
        color: #232851;
    }
    .parrafo-dos{
        display: flex;
        text-align: center;
        margin-top: 30px;
        font-size: 16px;
        line-height: 151.1%;
        font-weight: 500;
        color:#B3B2B7;
        margin-right: 0;
    }
    .banner-derecha-dos{
        height: 500px;
        width: 340px;
        margin: 0px 0px 0px 0px;
    }
    .contenedor-parrafo{
        margin-left: 0px;
    }
    .titulo-opciones{
        margin-right:20px;
        margin: 0px;
        color: #323851;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        background:#f0d7d1;
    }
    .estilo-boton-opciones{
        background: #F3603B;
        border-radius: 30px; 
        border: 0;
        width: 55px;
        height: 23px;
        color: white;
    }
    /*Testimonials*/
    .titulo-testimonio{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 90%;
        color: #242E53;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0px;
        padding-left: 15px;
    }
    .banner-testimonials{
        height: 250px;
        width: 300px;
        margin: 65px 0px 0px 35px;
    }
    .boton-testimonios{
        align-items: center;
        display: flex;
        height: 50px;
        width: 100%;
        justify-content: center;
        font-size: 26px;
        margin-top: 10px; 
        padding-top: 5px;
    }
    .boton-testimonios button:hover{
        background: #d88e7b;
    }
    /*Information footer*/
    .information-footer{
        display: inline-block;
        background: #F3613C;
        margin-top: 50px;
        height: 300px;
    }
    .information-footer h2{
        display: flex;
        font-weight: bold;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
        text-align: start;
        width: 70%;
        align-items: center;
        text-align: center;
        margin-left: 55px;
        margin-top: 40px;
    }
    .information-footer button{
        background: #FFFFFF;
        border:0;
        border-radius: 50px;
        width: 140px;
        height: 44px;
        margin-top:67px;
        color: tomato;
        padding: 20px 28px;
        margin-top: 20px;
        margin-left: 115px;
    }

    /*Footer*/
    footer{
        display: flex;
        flex-direction: column-reverse;
        margin-top:0;
        width: 100%;
        background: #1E1E26;
    }
    .contenedor-logos-footer{
        display: block;  
        margin-left: 100px; 
    }
    .prueba-logo-iconos{
        display: flex;
        width: 100%;
    }
    .logos-footer{
        display: flex;
        justify-content:space-evenly;
        color: white;
        align-items: center;
        margin-top: 30px;
        margin-left: 80px;
    }
    .prueba-opciones-footer{
        display:flex;
        flex-wrap: nowrap;
    }
    .opciones-footer{
        margin-left: 80px;
        margin-right: 0px;
        width: 26%; 
    }
    .opciones-footer2{
        width: 35%;
        margin-left: 25px;
    }
    .opciones-footer nav ul{
        font-weight: 200px;
        padding-right: 10px;
        color: #242E52;
        margin: 12px 0px;
        color:white
    }
    .opciones-footer2 nav ul{
        font-weight: 200px;
        padding-right: 10px;
        color: #242E52;
        margin: 12px 0px;
        color:white
    }
    .input-text{
        border-radius: 20px;
        border: 1px solid #a1a1a1;
        height: 40px;
        width: 201px;
        margin-left: 65px;
        margin-top:5px;
    }
    .input-button{
        border-radius: 20px;
        height: 40px;
        border:0px;
        background-color: #F3603B;
        color: white;
        padding: 10px 20px;
    }
    .input-button:hover{
        background: #d88e7b;
    }
    .copy{
        display: none;
    }
    .copy-2{
        display: flex;
        max-width: 100%;
        background: #1E1E26;
        font-size: 12.5px;
        color: #8C8C94;
        padding-top: 20px;
        padding-left: 75px;
    }

    .icono-bars::selection{
        color:gray;
    }
}


